@import '../../styles/Settings/colors.scss';
@import '../../styles/Settings/mixins.scss';
.form {
    &__content {
        width: 100%;
        position: relative;
        @include flex-end-center;
        flex-direction: column;
        input, textarea {
            padding: 10px;
            margin: 5px;
            width:100%;
            border: 1px solid $grey-04;
            border-radius: 10px;
            &:focus {
                outline: 1px solid $main-04;
            }
        }
        &__input-group {
            display: flex;
            width: 100%;
            flex-direction: row;
        }
        &__textarea {
            display: flex;
            position: relative;
            width: 100%;
        }
        button {
            font-size: 16px;
            width: 100%;
            max-width: 200px;
            padding: 5px 0;
            margin: 5px;
            border: none;
            background-color: $main-03;
            color: $white;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: $main-04;
            }
        }

    }

}