@import "../../styles/Settings/screens.scss";
@import "../../styles/Settings/mixins.scss";
@import "../../styles/Settings/colors.scss";

main {
  width: 100%;
  height: 100vh;
  padding: 20px 0 0 0;
  display: flex;
  @include desktop {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  @include tablet {
    align-items: flex-start;
  }
  .main {
    display: grid;
    grid-template-areas: 'profile' 'content';
    gap: 10px;
    max-width: 1248px;
    height: 100%;
    width: calc(100% - 200px);
    margin: 0 auto;
    @include desktop {
      grid-template-columns: 2fr 3fr;
      grid-template-areas: 'profile content';
      max-height: 600px;
      gap: 0;
    }
    @include tablet {
      min-width: 768px;
      max-height: 600px;
      
    }
    @include phone {
      min-width: 390px;
    }
    
    &__profile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        background-color: $white ;
        width: 100%;
        height: 100%;
        
        border-radius: 5px;
        @include desktop {
            transform: scale(1.03);
            max-height: 600px;
        }
        @include tablet {
          max-width: 585px;
          max-height: 600px;
          margin: 0 auto;
        }

        &__image {  
            width: 100%;
            height: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                overflow: hidden;
            }
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 80%, 50% 100%, 0 80%, 0 0);
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            .text {
                &--title {
                    color: $main-01;
                }
                &--p {
                    color: $main-01;
                }
            }

            &__icon-group {
                display: flex;
                gap: 5px;
                a {
                    font-size: 20px;
                    cursor: pointer;
                    color: $main-01;
                    &:hover {
                        color: $main-04;
                    }
                    
                }
            }
            &__button {

                width: 100%;
                text-align: center;
                padding: 20px 0;
                cursor: pointer;
                color: $main-01;
                border-top: 1px solid $grey-05;
                &:hover {
                    color: $main-04;
                }

            }
        }
      }
    &__content {
        background-color: $white ;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 0 20px;
        @include tablet {
          max-width: 585px;
          margin: 0 auto;
        }
        &__title {
          position: relative;
          padding: 20px;
          &::after {
            content: '';
            position: absolute;
            height: 1px;
            left: -10px;
            right: 0;
            bottom: 0;
            width: auto;
            background: -moz-radial-gradient(left, ellipse cover, #ddd 0%, rgba(255,255,255,0) 70%);
            background: -webkit-radial-gradient(left, ellipse cover, #ddd 0%, rgba(255,255,255,0) 70%);
            background: radial-gradient(ellipse at left, #ddd 0%, rgba(255,255,255,0) 70%);
          }
        }
        &__about {

          &__badges {

            &__badge {
               @include flex-between-center;
               margin-bottom: 15px ;
               &__key {
                padding: 0 8px;
                background-color: $main-04;
                color: $white;
                border-radius: 3px;
               }
            }
          }
        }
        &__grid {
            display: grid;
            gap: 5px;
            grid-template-columns: 1fr 1fr;
            >* {
              padding: 30px;
            }
            &__right {
              position: relative;
             &::before {
              content: '';
              position: absolute;
              left: -1px;
              top: 0;
              width: 1px;
              height: 100%;
              background: -moz-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255,255,255,0) 70%);
              background: -webkit-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255,255,255,0) 70%);
              background: radial-gradient(ellipse at top, #ddd 0%, rgba(255,255,255,0) 70%);
             }
            }
  
          }
      }


      
  }

}
