

$white : #FFFFFF;
$black : #000000;

$red : #ff0000;
$green: #009c00;

$grey-01 : #2e2e2e;
$grey-02 : #4f4f4f;
$grey-03 : #707070;
$grey-04 : #727272;
$grey-05 : #707070;

$main-01 : #27374D;
$main-02 : #27374D;
$main-03 : #CD104D;
$main-04 : #1591f6;