

$white : #FFFFFF;
$black : #000000;

$grey-01 : #2e2e2e;
$grey-02 : #4f4f4f;
$grey-03 : #707070;
$grey-04 : #c7c7c7;
$grey-05 : #959595;

$main-01 : #18122B;
$main-02 : #393053;
$main-03 : #443C68;
$main-04 : #635985;