.text {

    &--title {
        font-size: 34px;
        font-weight: 500;
    }
    &--p {
        font-size: 18px;
        font-weight: 500;
    }
    &--content-title {
        font-size: 20px;
        font-size: 20px;
        padding: 20px;
        font-weight: 600;
    }
}